MiSegundoServicioWCFConsumidoEnWindows/Connected Services/ServiceMedicamento/Medicamentos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Medicamentos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wsServicioMedicamento_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://192.168.250.7:8081/Medicamentos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://192.168.250.7:8081/Medicamentos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://192.168.250.7:8081/Medicamentos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosMedicamentos.Clases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMedicamentos_ListarMedicamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMedicamentos" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_ListarMedicamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMedicamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_ListaFormaFarmaceutica_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaFormaFarmaceutica" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_ListaFormaFarmaceutica_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaFormaFarmaceuticaResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_RecuperarMedicamento_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarMedicamento" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_RecuperarMedicamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarMedicamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_RegistraryActualizarMedicamento_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistraryActualizarMedicamento" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_RegistraryActualizarMedicamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistraryActualizarMedicamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_EliminarMedicamento_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMedicamento" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_EliminarMedicamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMedicamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IMedicamentos">
    <wsdl:operation name="ListarMedicamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicamentos/ListarMedicamentos" message="tns:IMedicamentos_ListarMedicamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicamentos/ListarMedicamentosResponse" message="tns:IMedicamentos_ListarMedicamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaFormaFarmaceutica">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicamentos/ListaFormaFarmaceutica" message="tns:IMedicamentos_ListaFormaFarmaceutica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicamentos/ListaFormaFarmaceuticaResponse" message="tns:IMedicamentos_ListaFormaFarmaceutica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarMedicamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicamentos/RecuperarMedicamento" message="tns:IMedicamentos_RecuperarMedicamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicamentos/RecuperarMedicamentoResponse" message="tns:IMedicamentos_RecuperarMedicamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistraryActualizarMedicamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicamentos/RegistraryActualizarMedicamento" message="tns:IMedicamentos_RegistraryActualizarMedicamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicamentos/RegistraryActualizarMedicamentoResponse" message="tns:IMedicamentos_RegistraryActualizarMedicamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMedicamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicamentos/EliminarMedicamento" message="tns:IMedicamentos_EliminarMedicamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicamentos/EliminarMedicamentoResponse" message="tns:IMedicamentos_EliminarMedicamento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsServicioMedicamento" type="tns:IMedicamentos">
    <wsp:PolicyReference URI="#wsServicioMedicamento_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarMedicamentos">
      <soap12:operation soapAction="http://tempuri.org/IMedicamentos/ListarMedicamentos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaFormaFarmaceutica">
      <soap12:operation soapAction="http://tempuri.org/IMedicamentos/ListaFormaFarmaceutica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarMedicamento">
      <soap12:operation soapAction="http://tempuri.org/IMedicamentos/RecuperarMedicamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraryActualizarMedicamento">
      <soap12:operation soapAction="http://tempuri.org/IMedicamentos/RegistraryActualizarMedicamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMedicamento">
      <soap12:operation soapAction="http://tempuri.org/IMedicamentos/EliminarMedicamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Medicamentos">
    <wsdl:port name="wsServicioMedicamento" binding="tns:wsServicioMedicamento">
      <soap12:address location="https://192.168.250.7:8081/Medicamentos.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://192.168.250.7:8081/Medicamentos.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>