MiSegundoServicioWCFConsumidoEnWindows/Connected Services/ServiceMedicamento/Medicamentos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://192.168.0.101:8082/Medicamentos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosMedicamentos.Clases" />
  <xs:element name="ListarMedicamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMedicamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosMedicamentos.Clases" minOccurs="0" name="ListarMedicamentosResult" nillable="true" type="q1:ArrayOfMedicamentoCLS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFormaFarmaceutica">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFormaFarmaceuticaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosMedicamentos.Clases" minOccurs="0" name="ListaFormaFarmaceuticaResult" nillable="true" type="q2:ArrayOfFormaFarmaceuticaCLS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarMedicamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iidMedicamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarMedicamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosMedicamentos.Clases" minOccurs="0" name="RecuperarMedicamentoResult" nillable="true" type="q3:MedicamentoCLS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistraryActualizarMedicamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosMedicamentos.Clases" minOccurs="0" name="oMedicamentoCLS" nillable="true" type="q4:MedicamentoCLS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistraryActualizarMedicamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistraryActualizarMedicamentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMedicamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iidMedicamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMedicamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarMedicamentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>