MiSegundoServicioWCFConsumidoEnWindows/Connected Services/ServiceMedicamento/Medicamentos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosMedicamentos.Clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosMedicamentos.Clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMedicamentoCLS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicamentoCLS" nillable="true" type="tns:MedicamentoCLS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicamentoCLS" nillable="true" type="tns:ArrayOfMedicamentoCLS" />
  <xs:complexType name="MedicamentoCLS">
    <xs:sequence>
      <xs:element minOccurs="0" name="IidMedicamento" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Concentracion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IidFormaFarmaceutica" type="xs:int" />
      <xs:element minOccurs="0" name="NombreFormaFarmaceutica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element minOccurs="0" name="Presentacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BHabilitado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicamentoCLS" nillable="true" type="tns:MedicamentoCLS" />
  <xs:complexType name="ArrayOfFormaFarmaceuticaCLS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormaFarmaceuticaCLS" nillable="true" type="tns:FormaFarmaceuticaCLS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormaFarmaceuticaCLS" nillable="true" type="tns:ArrayOfFormaFarmaceuticaCLS" />
  <xs:complexType name="FormaFarmaceuticaCLS">
    <xs:sequence>
      <xs:element minOccurs="0" name="IidFormaFarmaceutica" type="xs:int" />
      <xs:element minOccurs="0" name="NombreFormaFarmaceutica" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormaFarmaceuticaCLS" nillable="true" type="tns:FormaFarmaceuticaCLS" />
</xs:schema>